:root {
    --light-grey: #f5f6f7;
    --dark-blue: #0a0a23;
    --fcc-blue: #1b1b32;
    --light-yellow: #fecc4c;
    --dark-yellow: #feac32;
    --light-pink: #ffadad;
    --dark-red: #850000;
    --light-green: #acd157;
    --neon-cyan: #02d7f2;
  }

* {
    box-sizing: border-box;
  }
  
  body {
    font-family: "Lato", Helvetica, Arial, sans-serif;
    font-size: 18px;
    background-color: black;
    color: var(--neon-cyan);
  }

  h1, h2 {
    text-align: center;
  }

  h1 {
    padding-bottom: 20px;
  }

  form, #output-container {
    border: 1px solid;
    margin: 20px;
 
  }

  form {
    display: flex;
    flex-direction: column;
    padding: 20px;
    max-width: 500px;
    margin: auto;
  }

  label {
    padding: 10px;
    padding-top: 0;
    text-align: center;
    font-weight: bold;
    font-size: larger;
  }

  input {
    margin: 0 auto;
    width: 60%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid var(--neon-cyan); 
    height: 40px;   
  }

  button {
    padding: 10px;
    margin: 10px auto;
    width: 60%;
    border: 1px solid var(--neon-cyan);  
    height: 40px;
    background-color: black;
    color: #02d7f2;
  }

  #output-container {
    max-width: 500px;
    margin: 30px auto;
    text-align: center;
  }

  #output {
    font-weight: bolder;
    font-size: 40px;
    padding: 15px ;
    text-transform: uppercase;
  }