.title-container {
    margin: 0 auto;
    text-align: center;
}

.container {
    margin: 0 auto;
    padding-top: 50px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    height: 400px;
    width: 400px;
}
 

.square {
    width: 100px;
    height: 100px;
    background-color: transparent;
    border: 1px solid white;
    box-shadow: 0 0 0 1px black;
    border-radius: 5px;
}
